/* PAGE */
.table {
  width: 90%;
  margin: auto;
}

.table-main {
  width: 90%;
  margin: auto;
}

/* HEADER */
/* FILTER OPTIONS */
.table-header {
  display: flex;
  align-items: center;
}

.table-header > * {
  flex: 1 1 0;
}

.table-header--entries select {
  cursor: pointer;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-size: small;
}

.table-header--search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.table-header--search svg {
  width: 16px;
  height: 16px;
  margin-right: 0.25rem;
}

.table-header--search input {
  margin-left: 0.5rem;
  padding: 0.25rem;
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
}
